@model List<StaffViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Personel Adı</th>
        <th>Personel Unvanu</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detay</th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <th>@item.StaffId</th>
            <td>@item.StaffName</td>
            <td>@item.StaffTitle</td>
            <td><a href="/Staff/DeleteStaff/@item.StaffId" class="btn btn-danger">Sil</a></td>
            <td><a href="/Staff/UpdateStaff/@item.StaffId" class="btn btn-success">Güncelle</a></td>
            <td><a href="#" class="btn btn-dark">Detay</a></td>
        </tr>
    }
</table>
<td><a href="/Staff/AddStaff/" class="btn btn-primary">Personel Ekle</a></td>

